[submodule "dotvim"]
	path = dotvim
	url = git://github.com/marcin-wosinek/dotvim.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
